<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/base}" lang="en">

<head>
    <title>Kpop Compatibility Quiz</title>
</head>

<h2>Take this amazing personality quiz to determine which kpop idol you are most compatible with.</h2>

<br>

<script>
var questionArray = [
  ["Q1. Is the glass half empty or half full?", "Half empty", "Half full", "Reality is not objective"], 
  ["Q2. Which primary color is your favorite?", "Red", "Green", "Blue"], 
  ["Q3. ???", "What?", "What??", "???"]
];

//populate document
for (var i = 0; i < questionArray.length; i++){
  document.write("<form><span class='question'>" + questionArray[i][0] + "  </span><br>");
  for (var x = 1; x < 4; x++){
    document.write("<input type='radio' class='answer' name='answer' value='" + questionArray[i][x] + "'>" + questionArray[i][x] + "");
  }
  document.write("</form><br>");
}

var characterAnswer = [
  [0, 0, 0,'Jungkook'],
  [0, 0, 1,'Yungkuuk'],
  [1, 1, 1,'Juncok'],
  [1, 1, 2,'*insert another variation of "Jungkook"*'],
  [2, 2, 2,'idk']
];

//check for click
var inputs = document.getElementsByTagName('input');
for(var i = 0; i < inputs.length; i++){
  inputs[i].addEventListener('click', check);
}

var userAnswers = [];

//check questions answers
function check(){
  userAnswers = [];
  var c = 0;
  for(var i = 0; i < inputs.length; i++){
    if(inputs[i].checked) {
      userAnswers.push(i%3);
      c++;
    }
  }
  if(c==questionArray.length) rate();
}

//rate the answers per char
function rate(){
  console.log(userAnswers);
  for(var i = 0; i < userAnswers.length; i++){
    for(var j = 0; j < characterAnswer.length; j++){
      characterAnswer[j][4] = 0;
      for(var x = 0; x < 4; x++){
        if(userAnswers[i] == characterAnswer[j][x])
          characterAnswer[j][4]++;
      }
    }
  }
  answer();
}

function answer(){
  var a = 0, t;
  for(var j = 0; j < characterAnswer.length; j++){
        if(characterAnswer[j][4] > a) {
        a = characterAnswer[j][4];
        t = characterAnswer[j][3];
        }
} 
  document.getElementById("text").innerText = "You are most compatible with " + t + "!";
}
</script>

<br>

<h2 id="text"></div>
